.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  .tab-button.active {
    background-color: #333;
    color: #fff;
  }
  button:hover {
    background-color: #053086;
    color: white;
}
  .posts {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;
  }
  
  .post {
    width: 300px;
    height: 216px;
    border-radius: 20px;

    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 4px 10px 0px;
    -webkit-transition: box-shadow 1s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
   
  }
  .post:hover {
    -webkit-transform: scale(1.2);
    box-shadow: 0px 12px 15px 0px #101010;
  }
  .post:active {
    background-color: darkgray;
    -webkit-transition: background-color .4s ease-out;
  }
  .post-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .post-votes {
    font-size: 16px;
    color: #999;
  }
  Link{
    text-decoration: none;
  }