.buttonColor{
    color: "rgb(122, 167, 199)" !important;
    background-color: "rgb(225, 236, 244)";
  }
  .searchInput{
    height: 34px;
    max-width: fit-content;
    font-size: 17px;
    border-radius: 10px;
    text-align: start;
    padding-left: 7px;
    border-color: darkgray;
  }
  .row.questions--LeftSidebar{
    background-color: white ;
  }
  ::-webkit-scrollbar {
    background-color: rgb(255, 252, 252);
    width: 0.4vw;
}
@media screen  and (max-width:990px){
  .questions-rightSidebar{
    display: none;
  }
  .searchInput{
    display: none;
  }

}
// .btn-small{
//   width: 20vh;
//   height: 6vh ;
// }