.messenger{
    height:calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey ;
}
    .chatBox{
    flex: 5.5;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    position: relative;

}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll ;
    padding-right: 10px;
    overflow-x: clip;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;

}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: teal;
    color: white;

}
.chatOnline{
    flex: 3;
}
.chatMenuWrapper, 
.chatBoxWrapper,
 .chatOnlineWrapper{
    padding: 10px ;
    height: 100%;
}
.noConversationText{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(182, 182, 186);
        
}
.emoji-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 5px;
  }
  .emoji{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }
