.main-desc{
    display: flex;
    width: 100%;
}

.info{
    display: flex;
    align-items: center;
    font-size: small;
}

.info >p{
    color: rgba(0,0,0,0.4);
    margin: 0 10px;
}

.info > p >span{
    color: rgba(0,0,0,0.8);
    margin: 0 5px;
}

.arrow{
    font-size: 2rem;
    color: rgba(0,0,0,0.25);
}

.all-options > .MuiSvgIcon-root {
    color: rgba(0,0,0,0.25);
    font-size: large;
    margin: 5px 0;
}
.comments{
    margin:10px 0;
    width: 90%;
    margin-left:  auto;
}
.comment{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.comment > p {
    margin: 10px 0;
     
}

.comment > p  > span{
    padding: 3px;
    background-color: #0151f028;
    color:#0151f0d8 ;
    border-radius: 2px ;
     
}

.cmments > p {
    margin-left: -35px;
    margin-top: 20px;
    font-size: small;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
}

.comments > p:hover{
    color: #0151f0a2;
}
.main-desc {
    display: flex;
    width: 100%;
  }
  
  .info {
    display: flex;
    align-items: center;
    font-size: small;
  }
  
  .info > p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 10px;
  }
  
  .info > p > span {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 5px;
  }
  
  .arrow {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.25);
  }
  
  .all-options > .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.25);
    font-size: large;
    margin: 5px 0;
   
  }
  
  pre {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
  }
  .reportBtn{
    cursor: pointer;
  }

  .main-top{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;  
  }
  
  .all-questions-left.all-options{
    display: flex;
    flex-direction: column;
  }
  .main-container {
    max-width: 98vh;
  }
  .main-answer{
    width: 100vh;
  }
  .question-answer{
    display: flex;
    flex-direction: column;
    max-width: 102%;  }
  .all-questions-left{
  display: flex;
  }
  .ql-syntax{
    max-width: 72%;
  }
  .author{
    display: flex;
    justify-content: end;
  }
  .side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 0;
  }
  p {
    font-size: 15px
  }
  svg{
    width: 65%;
  }
  small{
    font-size: 94%;
    font-weight: 400;
  }

  .all-options{
    display: flex;
    flex-direction: column;
  }
  .all-questions-container{
    display: flex;
    max-width: 603px; 
  }
  .answer-vote{
    padding-left: 9px;
  }
  .tickmark{
    cursor: pointer;
    
  }