.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.chatOnlineImgContainer{
    position: relative;
    border: 1px  solid white;
}

.chatOnlineImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: limegreen;
    position: absolute;
    top: 2px;
    right: 2px;

}
