.alreadyAcc{
    text-align: end;
    color: blue;
    cursor: pointer;
    padding-top: 1rem;
    text-decoration: none;
}
.errorShow{
    color: red;
    padding-bottom:1rem ;
}
.bodySection{
    background: #f8f9fa;
    height: 100%;
}