

.cards{
    width: 40%;
    padding: 2rem 10px;
    padding-bottom: 0;
    border-radius: 4px;
    color: black;
    text-align: center;
    img, a{
        margin: 5px;
    }
  }

.publicPlatform {
  display: flex;
  position: relative;
  bottom: 8rem;
  margin-left: 12%;
  .publicPlatform--public {
   @extend .cards;
   background-image: linear-gradient(
      0deg,
      rgb(254, 227, 205) 30%,
      rgb(255, 255, 255)
    );
    margin-right: 3rem;
    .publicPlatform--public--btn{
    background-color: rgb(242, 116, 13);
    color: white;
}
  }


@media screen and (max-width:1000px) {
   .publicPlatform{
    flex-direction:column;
    align-items: center;
    background-color: blue;
    justify-content: center;
  }

a{
    text-decoration: underline;
    color: gray
}
}
.publicPlatform--private{
    @extend .cards;
    background-image: linear-gradient(0deg, rgb(205, 233, 254) 30%, rgb(255, 255, 255));
}
}


.imageIcon{
  width: 100%;
}
.logoImg{
  width: 50%;
}